/*Heading*/
body {
  margin: 0px;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
}

.indent-line {
  text-indent: 50px;
}

/*Wrappers*/

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  background-color:rgb(220, 239, 255)
}

.left {
  display: flex;
}

.wrapper > .left > div {
  margin-right: 30px;
  font-size: 22px;
}

.link-wrapper {
  height: 22px;
  border-bottom: 1px;
  transition: border-bottom 0.35s;
}

.link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.35s;
}

.link-wrapper:hover {
  padding-top: 1px;
  border-bottom: 1px solid black;
}

.link-wrapper a:hover {
  color: black;
}

.my-name {
  font-size: 22px;
}

/*Portfolio*/
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  height: auto;
}

.portfolio-item-bg {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-item1-bg {
  height: 600px;
  width: 96%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-txt-wrapper {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
  font-size: 200%;
  padding-bottom: 30px;
}

/*Contact page*/
.contacts {
  padding: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*education.html*/
.text {
  padding-left: 38px;
}

.college-details {
  color:rgb(68,147,153);
  font-size: 90%;
}

.college-education {
  padding-top: 20px;
  color:rgb(68,147,153);
  font-size: 150%;

}

.courses {
  padding-bottom: 6px;
}

.college-images {
  padding-right: 20px;
  max-width: 100%;
  height: auto;
}

.degree-type {
  padding-top: 10px;
  font-size: 135%;
}

.college-name {
  font-size: 120%;
}

.donald-padding {
  padding-left: 38px;
}

/*Work*/
.mngo-title {
  font-size: 18px;
  background-color: black;
  color: rgb(255, 255, 0);
}

.job-description {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
  font-size: 25px;
}

.job-description > div {
  text-indent: 50px;
}

.uscg-title {
  font-size: 18px;
  background-color: black;
  color: rgb(84, 178, 255);
}

/*About*/
.headshot2 {
  padding-top: 40px;
  max-width: 100%;
  height: auto;
}

.biography {
  padding: 40px;
  font-size: 25px;
}

.biography > div {
  text-indent: 50px;
}

/*Projects*/
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  margin: auto;
  padding-right: 38px;
  padding-top: 40px;
  transition: transform 0.3s ease; /* Apply a smooth scaling transition */
}

.caption {
  font-size: 22px;
  margin: auto;
  height: 150px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  transition: font-size 0.3s ease, max-height 0.3s ease; /* Apply smooth transitions */
}

/* Hover effect to scale projects */
.project:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
